
/* 
    CyberFiles CSS
    This is what makes everything look good!
*/

/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;600;700;800&display=swap');

* {
    font-family: "Segoe UI", "Open Sans", "Roboto", sans-serif;
    color: var(--fg);
    line-height: 140%;
    text-size-adjust: none !important;
}

body {
    background: var(--bg);
    padding: 0px;
    margin: 0px;
}

p, li {
    margin: 0px;
    padding: 0px;
    text-size-adjust: none;
    font-size: 15px;
    line-height: 150%;
    /* This serves to prevent font boosting on mobile browsers */
    max-height: 9000px;
}

p:not(:last-child) {
    padding-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 120%;
    padding-bottom: 5px;
    /* This serves to prevent font boosting on mobile browsers */
    max-height: 9000px;
}
h1 { font-size: 28px; }
h1:not(:first-child) { padding-top: 20px; }
h2 { font-size: 24px; }
h2:not(:first-child) { padding-top: 15px; }
h3 { font-size: 20px; }
h3:not(:first-child) { padding-top: 10px; }
h4 { font-size: 18px; }
h4:not(:first-child) { padding-top: 7px; }
h5, h6 { font-size: 16px; }

a {
    color: var(--hyperlink);
    text-decoration: none;
}

a:hover, a:focus {
    color: var(--hyperlinkH);
    text-decoration: underline;
}

b, em {
    color: inherit;
    line-height: inherit;
}

ul, ol {
    margin: 0px;
    padding: 0px;
    padding-bottom: 5px;
    padding-left: 25px;
}
ul:last-child,
ol:last-child {
    padding-bottom: 0px;
}

code:not(pre code) {
    background: var(--bgMarkdownCode);
    padding: 2px 8px;
    border-radius: 6px;
    max-height: 9000px;
    word-wrap: break-word;
}

pre:not(#textPreviewPre) {
    margin: 5px 0px 10px 0px;
    padding: 10px 15px;
    padding-bottom: 5px;
    background: var(--bgMarkdownCode);
    border-radius: 8px;
    max-height: 9000px;
    overflow-x: scroll;
    overflow-y: hidden;
}
pre:not(#textPreviewPre)::-webkit-scrollbar {
    height: 5px;
}
pre:not(#textPreviewPre):last-child {
    margin-bottom: 0px;
}

hr {
    border: none;
    margin: 15px 0px;
    padding: 0px;
    height: 1px;
    background: var(--fgTextPreview);
    opacity: 50%;
}

blockquote {
    margin: 0px;
    margin-bottom: 5px;
    padding: 10px 10px;
    border-left: 4px solid var(--accent);
    border-radius: 4px;
    background: var(--bgMarkdownBlockquote);
}

br {
    line-height: 0%;
}

#splash {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    background: var(--bg);
    overflow: hidden;
    user-select: none;
    z-index: 30;
}

#splashInner {
    margin: auto;
}

#splashIcon {
    display: flex;
    justify-content: center;
}
#splashIcon img {
    width: 100px;
}

#splashText {
    margin-top: 20px;
    font-family: "Montserrat";
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 120%;
}

#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 55px;
    width: 100%;
    padding: 0px 15px;
    background: var(--bgTopbar);
    border-bottom: 1px solid var(--topbarBorder);
    z-index: 10;
    user-select: none;
    transition: 0.1s ease-in-out;
}

#topbar.shadow {
    box-shadow: 0px -17px 15px 14px rgba(0,0,0,0.7);
}

#topbarTitle {
    padding: 5px 8px 4px 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: var(--fgTopbar);
    background: none;
    border: none;
    border-radius: 8px;
    transition: 0.1s ease-in-out;
}
#topbarTitle:hover:not(.disabled),
#topbarTitle:focus:not(.disabled) {
    background: var(--bgTopbarButtonH);
    color: var(--fgTopbarH);
    text-decoration: none;
    cursor: default;
}
#topbarTitle:active:not(.disabled) {
    background: var(--bgTopbarButtonC);
}

.topbarButton {
    line-height: 100%;
    padding: 8px;
    margin: 0px 3px;
    font-family: "Material Icons Outlined";
    font-size: 28px;
    color: var(--fgTopbar);
    background: none;
    border: none;
    border-radius: 20px;
    transition: 0.1s ease-in-out;
}

.topbarButton:hover:not(.disabled),
.topbarButton:focus:not(.disabled) {
    background: var(--bgTopbarButtonH);
    color: var(--fgTopbarH);
    text-decoration: none;
    cursor: default;
}

.topbarButton:active:not(.disabled) {
    background: var(--bgTopbarButtonC);
}

.topbarButton.disabled {
    opacity: 50%;
    text-decoration: none;
}

#topbarButtonUp {
    margin-right: 5px;
}

#breadcrumbs {
    flex-wrap: nowrap;
    margin-left: 5px;
    overflow: hidden;
}
.breadcrumb {
    flex-wrap: nowrap;
}

.breadcrumbSep {
    margin: 0px -3px;
    display: flex;
    align-items: center;
    font-family: "Material Icons Outlined";
    font-size: 27px;
    color: var(--fgTopbar);
    opacity: 50%;
}

.breadcrumbNameCont {
    margin-top: 1px;
    display: flex;
    align-items: center;
}
.breadcrumbName {
    border: none;
    background: none;
    padding: 5px 8px 3px 8px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--fgTopbar);
    border-radius: 6px;
    transition: 0.1s ease-in-out;
}
.breadcrumbName.hover:hover:not(.disabled),
.breadcrumbName.hover:focus:not(.disabled) {
    background: var(--bgTopbarButtonH);
    color: var(--fgTopbarH);
    text-decoration: none;
    cursor: default;
}
.breadcrumbName.hover:active:not(.disabled) {
    background: var(--bgTopbarButtonC);
}

#fileListContainer {
    max-width: 1100px;
    margin-top: 80px;
}

#fileListFilterCont {
    margin-bottom: 20px;
}

#fileListFilter {
    width: 100%;
    padding: 10px 16px;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid var(--bgFilterBarBorder);
    border-radius: 4px 4px 0px 0px;
    outline: none;
    font-family: "Open Sans";
    font-size: 15px;
    color: var(--fgFilterBar);
    transition: 0.1s ease-in-out;
    user-select: none;
}

#fileListFilter:focus {
    background: var(--bgFilterBarF);
    border-bottom: 2px solid var(--bgFilterBarBorderF);
}

#fileListFilterClear {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 5px;
    font-family: "Material Icons Outlined";
    font-size: 28px;
    border: none;
    background: none;
    color: var(--fgFilterBarClear);
    transition: 0.1s ease-in-out;
}
#fileListFilterClear:hover,
#fileListFilterClear:focus {
    color: var(--fgFilterBarClearH);
}
#fileListFilterClear:active {
    color: var(--fgFilterBarClearC);
}

#directoryHeader {
    margin-bottom: 10px;
    padding: 15px 20px;
    color: var(--fgDirectoryHeader);
    background: var(--bgDirectoryHeader);
    border-left: 6px solid var(--directoryHeaderBorder);
    border-radius: 6px;
}

#fileListHeaders {
    border-bottom: 1px solid var(--fileSep);
    user-select: none;
}

#fileListHeaderName:hover,
#fileListHeaderName:focus,
#fileListHeaderDate:hover,
#fileListHeaderDate:focus,
#fileListHeaderType:hover,
#fileListHeaderType:focus,
#fileListHeaderSize:hover,
#fileListHeaderSize:focus {
    color: var(--fileListHeadersH);
}

.fileListMobile { display: none; }
.fileListDesktop { display: inherit; }
.fileListDesktopBig { display: none; }

.fileEntryIcon,
.fileEntryName,
.fileEntryType,
.fileEntryDate,
.fileEntrySize,
.fileListHeader {
    padding: 7px 15px 8px 15px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 0.05s ease-in-out;
}

.fileEntryNameInner,
.fileEntryTypeInner {
    font-size: 14px;
    padding-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fileListHeader {
    font-size: 13px;
    color: var(--fileListHeaders);
}

#fileListHeaderIcon, .fileEntryIcon {
    width: 50px;
}

#fileListHeaderDate, .fileEntryDate {
    width: 140px;
}

#fileListHeaderType, .fileEntryType {
    width: 150px;
}

#fileListHeaderSize, .fileEntrySize {
    width: 80px;
}

.fileListSortIndicator {
    margin-bottom: -10px;
    margin-top: 1px;
    margin-left: 4px;
    font-family: "Material Icons Outlined";
    font-size: 18px;
    color: inherit;
}

#fileList {
    user-select: none;
}

.fileEntry {
    border-bottom: 1px solid var(--fileSep);
    font-size: 14px;
    cursor: default;
    text-decoration: none !important;
    /* transition: 0.05s ease-in-out; */
}

.fileEntryName * {
    color: var(--fileNameCol);
}

.fileEntryDate {
    color: var(--fileDateCol);
}

.fileEntryType * {
    color: var(--fileTypeCol);
}

.fileEntrySize {
    color: var(--fileSizeCol);
}

.fileEntry:hover,
.fileEntry:focus {
    background: var(--fileH);
    border-color: rgba(0, 0, 0, 0);
}

.fileEntry:active {
    background: var(--fileC);
    border-color: rgba(0, 0, 0, 0);
}

.fileEntryIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    font-family: "Material Icons Outlined";
    font-size: 22px;
    color: var(--fileIcon);
    text-overflow: clip;
}

.fileEntryMobileDetails {
    color: var(--fileDateMobile);
}

#fileListHint {
    margin: 25px 0px 30px 0px;
    font-size: 14px;
    color: var(--fileListFooter);
    text-align: center;
}

#previewContainer {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: var(--bgPreview);
    z-index: 20;
}

#previewTopbar {
    position: absolute;
    top: 0px;
    left: 0px;
    /* height: 75px; */
    height: 55px;
    width: 100%;
    padding: 0px 15px;
    background: var(--bgPreviewTopbar);
    /* background: linear-gradient(180deg, var(--bgPreviewTopbar) 0%, rgba(0,0,0,0) 100%); */
    /* padding-bottom: 20px; */
    user-select: none;
    transition: 0.1s ease-in-out;
    z-index: 22;
    /* pointer-events: none; */
    box-shadow: 0px -17px 15px 14px rgba(0,0,0,0.7);
}

.previewTopbarButton {
    line-height: 100%;
    padding: 8px;
    margin: 0px 3px;
    font-family: "Material Icons Outlined";
    font-size: 28px;
    color: var(--fgPreview);
    background: none;
    border: none;
    border-radius: 20px;
    transition: 0.1s ease-in-out;
    pointer-events: initial;
}

.previewTopbarButton:hover:not(.disabled),
.previewTopbarButton:focus:not(.disabled) {
    background: var(--bgPreviewH);
    color: var(--fgPreviewH);
    text-decoration: none;
    cursor: default;
}

.previewTopbarButton:active:not(.disabled) {
    background: var(--bgPreviewC);
}

.previewTopbarButton.disabled {
    opacity: 50%;
    text-decoration: none;
}

#previewTitleContainer {
    margin-top: 6px;
    padding: 0px 10px;
    overflow: hidden;
}

#previewFileName {
    display: block;
    margin-bottom: -4px;
    font-family: "Montserrat", "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: var(--fgPreview);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#previewFileDesc {
    display: block;
    font-size: 16px;
    color: var(--fg2Preview);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#previewFile {
    position: absolute;
    top: 0px;
    left: 0px;
    height: calc(100% - 55px);
    width: 100%;
    margin-top: 55px;
}

.previewTypeNone,
.previewTypeVideo,
.previewTypeAudio,
.previewTypeImage {
    display: flex;
}
.previewTypeImage img {
    max-width: 100%;
    max-height: 100%;
    min-width: 48px;
    min-height: 48px;
    margin: auto;
}
.previewTypeVideo video {
    width: 100%;
    height: 100%;
    margin: auto;
}
.previewTypeEmbed iframe {
    width: 100%;
    height: 100%;
    margin: auto;
    outline: none;
    border: none;
}
#previewCard {
    margin: auto;
    padding: 10px;
    text-align: center;
    user-select: none;
}

.previewTypeVideo video:focus {
    outline: none;
}

.previewTypeAudio audio {
    margin: auto;
}
.previewTypeAudio audio:focus {
    outline: none;
}

#textPreviewCont {
    max-width: 1000px;
    height: 100%;
    padding: 25px;
    background: var(--bgTextPreview);
    color: var(--fgTextPreview);
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 15px;
}

#textPreviewPre {
    padding: 0px;
    margin: 0px;
    font-size: inherit;
    font-family: monospace;
    white-space: pre-wrap;
}

.previewTypeNone {
    overflow-y: scroll;
}

#previewCardIcon {
    font-family: "Material Icons Outlined";
    font-size: 64px;
    color: var(--fgPreviewIcon);
    line-height: 100%;
    margin-bottom: 5px;
}

#previewCardTitle {
    font-family: "Montserrat", "Segoe UI", sans-serif;
    font-size: 28px;
    font-weight: bold;
    line-height: 120%;
    margin-bottom: 5px;
}

#previewCardDesc {
    font-size: 16px;
}

#previewCardDownloadCont {
    margin-top: 15px;
}

.popupBackground {
    position: fixed;
    display: flex;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    padding: 10px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
    /* background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.8) 100%); */
    z-index: 50;
}

.popupCard {
    margin: auto;
    min-width: 200px;
    max-width: 600px;
    max-height: 100%;
    padding: 15px 20px;
    background: var(--bgPopup);
    border-radius: 12px;
    box-shadow: 0px 4px 20px 8px rgba(0,0,0,0.3);
    overflow-y: scroll;
    scrollbar-width: none;
}
.popupCard::-webkit-scrollbar {
    width: 0px;
}

.popupTitle {
    font-family: "Montserrat", "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: var(--fgPopup);
    padding-bottom: 5px;
}

.popupContent {
    color: var(--fgPopup);
}

.popupActions {
    margin: -5px -10px;
    padding-top: 15px;
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    user-select: none;
}

.popupButton {
    line-height: 100%;
    margin: 1px;
    padding: 10px 16px;
    font-family: "Montserrat", "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: var(--fgPopupButton);
    background: none;
    border: none;
    border-radius: 6px;
    cursor: default;
    transition: 0.1s ease-in-out;
}

.popupButton:hover,
.popupButton:focus {
    background: var(--bgPopupButtonH);
    color: var(--fgPopupButton);
    text-decoration: none;
}

.popupButton:active {
    background: var(--bgPopupButtonC);
    color: var(--fgPopupButton);
}

.dropdownHitArea {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 30;
}

.dropdown {
    position: fixed;
    top: 0px;
    left: 0px;
    max-width: 300px;
    max-height: 600px;
    margin: 10px;
    background: var(--bgDropdown);
    padding: 8px 0px;
    border-radius: 8px;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
    z-index: 31;
    user-select: none;
    overflow-y: scroll;
    scrollbar-width: none;
}

.dropdown::-webkit-scrollbar {
    width: 0px;
}

.dropdownItem {
    padding: 8px 12px;
    width: 100%;
}
.dropdownItem:hover:not(.disabled),
.dropdownItem:focus:not(.disabled) {
    background: var(--bgDropdownH);
}

.dropdownItem.disabled {
    opacity: 50%;
}

.dropdownItemIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Material Icons Outlined";
    font-size: 24px;
    color: var(--fgDropdown);
}

.dropdownItemName {
    margin-left: 12px;
    margin-right: 6px;
    margin-top: 2px;
    font-size: 15px;
    color: var(--fgDropdown);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.dropdownSep {
    width: 100%;
    height: 1px;
    margin: 5px 0px;
    background: var(--bgDropdownSep);
}

.toastContainer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    padding: 10px;
    padding-bottom: 20px;
    z-index: 70;
    pointer-events: none;
}

.toast {
    margin: 0px auto;
    padding: 15px;
    color: var(--fgToast);
    background: var(--bgToast);
    border-left: 8px solid var(--bgToastBorder);
    border-radius: 8px;
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
}

#tooltip {
    position: fixed;
    max-width: 600px;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--fgTooltip);
    line-height: 120% !important;
    background: var(--bgTooltip);
    border-radius: 6px;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
    user-select: none;
    pointer-events: none;
    transition: 0.1s ease-in-out;
    z-index: 100;
}

.buttonMain {
    padding: 10px 16px;
    font-family: "Montserrat", "Segoe UI", sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: var(--fgButton);
    background: var(--bgButton);
    border: none;
    border-radius: 6px;
    transition: 0.1s ease-in-out;
}
.buttonMain:hover,
.buttonMain:focus {
    color: var(--fgButtonH);
    background: var(--bgButtonH);
}
.buttonMain:active {
    color: var(--fgButtonC);
    background: var(--bgButtonC);
}

#hoverCapable {
    position: fixed;
    left: 0px;
    width: 1px;
    height: 1px;
    opacity: 0%;
}

/* Handle devices that can't hover */
@media (hover: none) and (pointer: coarse) {
    #hoverCapable { width: 0px; }
    *:hover {
        color: inherit;
        background: inherit;
    }
}

/* Handle touch devices */
@media (hover: none) and (pointer: coarse) {
    * {
        line-height: 145%;
    }

    p, li, .toast {
        font-size: 16px;
    }

    #fileListFilter {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
    }

    .fileListHeader {
        font-size: 15px;
    }

    .fileEntryName,
    .fileEntryDate,
    .fileEntryType,
    .fileEntrySize {
        padding: 10px 15px 10px 15px;
        font-size: 16px;
    }
    .fileEntryNameInner,
    .fileEntryMobileDetails {
        font-size: 16px;
    }

    #fileListHeaderIcon, .fileEntryIcon {
        width: 60px;
    }
    .fileEntryIcon {
        font-size: 26px;
    }
    
    #fileListHint { font-size: 15px; }

    .popupTitle { font-size: 22px; }

    .popupContent { font-size: 16px; }

    .popupButton {
        padding: 12px 20px;
        font-size: 17px;
    }

    .buttonMain {
        padding-top: 12px;
        padding-bottom: 12px;
        font-size: 16px;
    }

    #previewTitleContainer * {
        line-height: 140%;
    }

    .dropdownItem {
        padding: 10px 15px;
    }

    .dropdownItemIcon {
        font-size: 26px;
    }

    .dropdownItemName {
        font-size: 17px;
        margin-left: 15px;
        margin-top: 1px;
    }
}

/* Handle large screen widths */
@media only screen and (min-width: 950px) {
    .fileListDesktopBig { display: inherit; }
}

/* Handle small screen widths */
@media only screen and (max-width: 600px) {
    .fileListMobile { display: inherit; }
    .fileListDesktop { display: none; }

    #directoryHeader {
        margin-bottom: var(--mobDirHeaderMarginBottom);
    }

    #fileListHeaders {
        display: var(--mobFileListHeadersDisplay);
        margin-bottom: var(--mobFileListHeadersMarginBottom);
    }

    #fileListHint {
        margin-top: var(--mobFileListHintMarginTop);
    }
    
    .fileEntry {
        border: var(--mobFileEntryBorder);
    }

    #fileListHeaders,
    #fileList {
        margin-left: -15px;
        margin-right: -15px;
    }

    #fileListHeaderIcon, .fileEntryIcon {
        width: 60px;
    }
    .fileEntryIcon {
        font-size: 26px;
    }

    .fileEntryNameInner {
        padding-right: 15px;
    }
}

/* Handle touch devices with small screen widths */
@media only screen and (max-width: 600px) and (hover: none) and (pointer: coarse) {
    .fileEntryIcon {
        font-size: 28px;
    }
    
    .fileEntryName {
        padding: 11px 15px 11px 15px;
    }
}

/* Transition animation classes */
.ease-in-out-100ms {
    transition: 0.1s ease-in-out;
}
.ease-in-out-200ms {
    transition: 0.2s ease-in-out;
}


/* Prevent font boosting on mobile browsers */
/* https://developpaper.com/question/why-do-fonts-of-the-same-size-display-different-sizes-in-different-browsers/ */
.noBoost {
    max-height: 9000px;
}

/* Custom placeholder text colour */
::placeholder {
    color: var(--fgTextboxPlaceholder);
    opacity: 1;
}

/* Custom text highlight colours */
::selection {
    background: var(--textHighlightBg);
    color: var(--textHighlightFg);
}
::-moz-selection {
    background: var(--textHighlightBg);
    color: var(--textHighlightFg);
}

/* Custom scrollabrs */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar);
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbarH);
}
::-webkit-scrollbar-thumb:active {
    background: var(--scrollbarC);
}
* { scrollbar-width: thin; }
    
/* Disables transitions for all child elements */
.no-transitions *:not(.no-transitions-exclude) {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

/*

** Material Design Spinner **

<div class="mdSpinner">
    <svg viewBox="0 0 100 100">
        <circle cx="50" cy="50" r="20" />
    </svg>
</div>

*/

.mdSpinner {
    width: 90px;
    height: 90px;
    margin: 0 auto;
}
.mdSpinner svg {
    animation: mdSpin-rotate 1.2s linear infinite;
    height: 100%;
    width: 100%;
}
.mdSpinner circle {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0;
    animation: mdSpin-dash 1.2s ease-in-out infinite 0s;
    stroke-linecap: round;
    fill: none;
    stroke: var(--loadingSpinner);
    stroke-width: 5;
}

@keyframes mdSpin-rotate {
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}
@keyframes mdSpin-dash {
    0% {
        stroke-dasharray: 1,200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 89,200;
        stroke-dashoffset: -124;
    }
}